:root {
  --gray: #6c757d;
  --header-color: #313435;
  --animate-duration: 1.5s;
  --animate-delay: 500ms;
  --animate-repeat: 1;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-15%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(15%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
body {
  font-family: "Inter", sans-serif;
  color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--header-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.simple-list {
  list-style: disc;
  margin-left: 15px;
}

.py-100 {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.pb-100 {
  padding-bottom: 6.25rem;
}

.pb-50 {
  padding-bottom: 3.125rem;
}

.pt-100 {
  padding-top: 6.25rem;
}

.lead {
  font-weight: 400;
}

.navigation {
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  background: #fff;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar-opaque {
  background: #fff;
}

.header {
  background: url("../images/hero-bg.jpg") center bottom no-repeat;
  background-size: cover;
  padding-top: 170px;
}

.statistics-section-text h2,
.statistics-section-text p {
  margin: 0;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgba(206, 211, 246, 0) 0, #bbb 38%, #999 64%, rgba(206, 211, 246, 0) 99%);
  opacity: 0.4;
  border: none;
  margin: 0;
}

.features2-card img {
  width: 4rem;
}

.features2-shape {
  position: relative;
}

.features2-shape::after {
  width: 100%;
  height: 60%;
  top: 11%;
  left: -50%;
  position: absolute;
  content: "";
  z-index: -1;
  background-color: rgb(244, 244, 249);
}

.features3-card-img {
  width: 3rem;
}

.features4-card-img {
  transform: scale(0.8);
}

.features5-card-img {
  width: 4rem;
}

.features6-card-img {
  width: 4rem;
}

.features7-card-img {
  width: 3rem;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: inherit;
}

button.accordion-button:focus {
  box-shadow: inherit;
}

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 32px;
  height: 44px;
  border-radius: 50%;
  display: block;
  box-sizing: content-box;
  padding: 1.125rem 1.25rem 1.125rem 1.75rem;
  cursor: pointer;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 76px;
  height: 76px;
  border-radius: 50%;
  display: block;
  background: var(--bs-danger);
  cursor: pointer;
  animation: pulse-border 1500ms ease-in-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  background: var(--bs-danger);
  cursor: pointer;
  transition: all 200ms;
}

.video-play-button span {
  position: relative;
  display: block;
  z-index: 3;
  top: 6px;
  left: 4px;
  width: 0;
  height: 0;
  border-left: 26px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.video-modal .modal-dialog {
  max-width: 1150px;
  margin-top: 20px;
}

.divider-stats {
  width: 30%;
  height: 2px;
  background-color: #000;
  opacity: 0.8;
  border: none;
}

.features11-card-img {
  transform: scale(0.8);
}

.testimonials-review {
  margin: 0 15px;
}

.banner-img {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.999), rgba(0, 0, 0, 0.1)), url(../images/banner-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 4rem !important;
}

.fo-links a {
  text-decoration: none;
  color: inherit;
}

.footer-list img {
  width: 1.5rem;
}

@media (max-width: 1199.98px) {
  .features11-text-container span {
    font-size: 1rem;
  }
  .features11-text-container h3 {
    font-size: 2.2rem;
  }
}
@media (max-width: 991.98px) {
  .wow {
    animation-name: none !important;
    visibility: visible !important;
  }
  .features11-text-container span {
    font-size: 0.8rem;
  }
  .features11-text-container h3 {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .features2-shape::after {
    width: 150%;
    height: 60%;
    top: 25%;
  }
}
@media (min-width: 768px) {
  .img-fluid-md {
    max-width: none;
    width: auto;
    height: auto;
  }
}
